:root {
  --bs-primary: #0d6efd;
  --bs-danger: #dc3545;
}

button {
  padding: 6px 46px;
  border-radius: 3px;
  font-size: medium;
  color: white;
  margin: -3px;
  border: none;
}
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-primary {
  background-color: var(--bs-primary);
}

.btn-danger {
  background-color: var(--bs-danger);
}

fieldset {
  border: 0;
}

.personal-data {
  color: grey;
  border-color: grey;
}

.email {
}

body {
}

::-webkit-input-placeholder {
  padding: 1px;
  padding-right: 10px;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}
